
@import "../../../style/variable";

.d_rowFooter {
  background: $bg_footer_color;
  max-width: $main_width;
  margin: 0 auto;
  padding: 0 12px;

  .d_footerSection {
    margin: 35px 0;

    .title {
      font-size: 18px;
      color: #787E9E;
      font-weight: 500;
      padding-bottom: 8px;
    }

    .content {
      font-size: 16px;
      color: #1C7BFF;
      padding-bottom: 0px;

      .how-to-use {
        color: #1C7BFF;
        text-decoration: underline;
      }
    }
  }

  img {
    margin-top: -10px;
  }
}

.d_rowGrey {
  background: $bg_footer_color;
}

.d_rowFooterBottom {
  background: $bg_footer_color;
  color: #fff;
  height: 35px;
  text-align: center;

  p {
    padding-bottom: 0px;
    padding-top: 10px;
    color: #999999;
    font-size: 14px;
  }
}

.margin-left-15 {
  margin-left: 22px;
}
