@import "../../../style/variable";

.right-side {
    float: right;
    top: 15px;
    right: 35px;
}

.xlogo {
    height: 64px;
    width: 100%;
    display: flex;

    .logo-icon {
        cursor: pointer;
    }
}

.Header {
    max-width: $main_width;
    margin: 20px auto;

    .right-action {
        .logout {
            color: #1C7BFF;
            font-size: 18px;
            font-weight: 400;
        }

        float: right;
    }

    .menu-desktop {
        display: block;

        @media only screen and (max-width: $mobile-width) {
            display: none;
        }
    }

    .show-icon-toggle {
        display: none;

        @media only screen and (max-width: $mobile-width) {
            display: block;
            position: absolute;
            top: 25px;
            right: 15px;
            cursor: pointer;
        }
    }

    .header-menu {
        width: 100%;

        .ant-menu {
            float: right;
        }

        .ant-menu-horizontal {
            border-bottom: none;
        }

        .icon-toggle-menu {
            display: block;

            @media only screen and (max-width: $mobile-width) {
                display: block;
            }
        }
    }
}

.ant-layout-header {
    background: transparent;
    padding: 0 10px;
}
