$main_width: 1100px;
$container_width: 860px;

$gap_0: 8px;
$gap_1: 15px;
$gap_2: 24px;
$gap_3: 40px;

$header_height: 73px;
$bg_footer_color: #EFEFEF;
$txt_color: #787E9E;

$mobile-width: 768px;
$lg-width: 992px;
